

.main_container_career{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background: linear-gradient(155deg, #FBBDA8 50%, #D9948C 50%);
    -ms-overflow-style: none;
}

.main_container_career::-webkit-scrollbar{
    display:none;
}

.date_center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* sidebar 시작 */
.sidebar_container{
    display: flex;
    width: 5vw;
    height: 100vh;
    background-color: #cc7066;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.sidebar_container2{
    
    display: none;
    width: 20vw;
    height: 100vh;
    background-color: #cc7066;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A0C0D7;
    position: sticky;
    top: 0;
}

.sidebar_list{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    white-space:nowrap;
    font-size: 2vw;
}

.sidebar_icon{
    font-size: 2vw;
    margin-top: 22px;
    margin-bottom: 22px;
    color: #FBBDA8;
   
}

a{
    color: #FBBDA8;
}

.sidebar_icon_li{
    margin-bottom: 66px;
    cursor: pointer;
}

.sidebar_fixed{
    position: relative;
}

/* sidebar 끝 */

.career_cover{
    display: flex;
    width: 100%;
    height: 10000vh;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;

}



.career_container{
    font-family: 'Nanum Pen Script', cursive;
    width: 80%;
    border: #55645D 5px solid;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 150px;
}

.career_container_title{
    font-size: 45px;
    padding-bottom: 15px;
}

.career_container_ul{
    display: flex;
    padding: 6px 16px;
    flex-direction: column;
    width: 100%;
}
.career_container_li{
    display: flex;
    position: relative;
    list-style: none;
    min-height: 70px;
    opacity: 0.75;
    margin-bottom: 10px;
}

.career_container_li_date{
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px; 



}

.career_container_li_line{
    margin: 0 10px;
    width: 100px;
    flex: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.career_container_li_line_icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #55645D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.career_container_li_line_line{
    width: 2px;
    flex-grow: 1;
    background-color: #bdbdbd;
}

.career_container_li_main{
    flex: 1;
    padding: 6px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.high{
     background-color: #FAD7D8;
}

.career_container_li_main_title{

    font-weight: 500;
    line-height: 1.6;
    font-size: 22px; 
}


.career_container_li_main_line{
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

.career_container_li_main_content{
    display: flex;
    font-size: 16px; 
    width: 100%;

}

.career_container_li_main_content_span{
    width: 50%;
    display: flex;

}