.managercover{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #232321;
    display: flex;
    justify-content: center;
    align-items: center;


    .managerbutton{
        box-shadow: none;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.24);
        background: #131312;
        width: 364px;
        height: 102px;
        font-size: 23px;
        color: #fff;
    }
}