# Node.js 프로젝트 파일/폴더 무시
node_modules

# 개발 시 생성되는 파일/폴더 무시
dist
dist-ssr
.vite
*.local

# 로그 파일 무시
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 에디터 관련 파일/폴더 무시
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn Zero-Install 관련 파일/폴더 무시
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions