@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
안트디 설정 초기화*/

:where(.css-dev-only-do-not-override-6j9yrn).ant-input-affix-wrapper:focus,:where(.css-dev-only-do-not-override-6j9yrn).ant-input-affix-wrapper:focus-within {
    border-color: #4F5FF5 !important;
    box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-input-affix-wrapper {
    border-color: #ACACBA !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-input-affix-wrapper::placeholder {
    color: #ACACBA !important;
    font-weight: 500 !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-input {
    color:#51525C !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-input::placeholder {
    color: #ACACBA !important;
    font-weight: 500 !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-btn-primary {
    background-color: #4F5FF5 !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-btn-primary:hover {
    background-color: #263BF2 !important;
}

.slick-slide img {
    object-fit: cover;
    width:100%;
    box-sizing: border-box;
}

.slick-prev {
    left: -40px;
    z-index: 80;
    width:24px;
    height: 24px;
    background-image: url("/src/assets/img/angle_left_arrow.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
}

.slick-prev:before, .slick-next:before {
    display:none;
}

.slick-next {
    right:-40px;
    z-index: 80;
    width:24px;
    height: 24px;
    background-image: url("/src/assets/img/angle_right_arrow.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
}

.slick-prev:before,.slick-next:before {
    color: #000;
}

.slick-dots {

}

:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs {
    color:#ACACBA !important;
    border-color: #ACACBA !important;
    border-top-color:#232433 !important;
}

/*:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs:focus,:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs:active, :where(.css-dev-only-do-not-override-6j9yrn).ant-tabs:hover{
    color:#232433 !important;
    border-color: #232433 !important;
}*/

:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color:#232433 !important;
    border-color: #232433 !important;
}
:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs .ant-tabs-tab {
    color:#ACACBA;
}
:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs .ant-tabs-tab:hover {
    color:#232433 !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {

}

:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs .ant-tabs-ink-bar {
    background: #232433;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-tabs-top >.ant-tabs-nav .ant-tabs-ink-bar, :where(.css-dev-only-do-not-override-6j9yrn).ant-tabs-bottom >.ant-tabs-nav .ant-tabs-ink-bar, :where(.css-dev-only-do-not-override-6j9yrn).ant-tabs-top >div>.ant-tabs-nav .ant-tabs-ink-bar, :where(.css-dev-only-do-not-override-6j9yrn).ant-tabs-bottom >div>.ant-tabs-nav .ant-tabs-ink-bar {
    height: 1px;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-popover .ant-popover-inner {
    padding: 0;

}

:where(.css-dev-only-do-not-override-6j9yrn).ant-popover .ant-popover-arrow::after {
    background: rgba(85,101,246,.6);
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-tag {
    white-space: wrap;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    width: 8px;
    /*background-color: #313131;*/
    border-radius: 6px;
    border: 1px solid transparent;
    outline: none;
    box-shadow: inset 6px 6px 0 rgba(154, 157, 173, 1);
}

*::-webkit-scrollbar-track {
    /*background-color: #313131;*/
    box-shadow: none;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: #ffffff;
    box-shadow: none;
}
