header 
    a(href="/") 
        h1  Home | #{siteName}
    nav
        ul 
            li
                a(href="/search") Search
            if loggedIn
                li
                    a(href="/users/logout")  Log Out
                li 
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/videos/upload") Upload Video
            else
                li
                    a(href="/join")  Join
                li
                    a(href="/login")  Login