.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  background-color: gray;
  z-index: 3;
  opacity: 0.6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
