.aboutCover{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;


    .aboutUs{
        width: 80%;
        display: flex;
        flex-direction: column;
        color: #ffffff;
        font-weight: 900;
        font-size: 16px;
        text-align: center;
        padding-bottom: 50px;
    }


    h1{
        text-align: center;
        color: #ffffff;
        margin-top: 84px;
        margin-bottom: 42px;
        font-weight: 900;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 50px;
    }

    .mainpic{
        width: 100%;
    }
}