.uploadPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(14, 17, 23, 0.7);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: azure;

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 420px;
        margin: 0 auto;
        padding: 30px;

        label{
            margin-bottom: 10px;
        }

    
        input {
          all: unset;
          padding: 15px 20px;
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background-color: black;
          margin-bottom: 5px;
          font-size: 16px;
          color: white;
          width: 90%;
        }
        .submitBtn {
          margin-top: 20px;
          width: 60%;
          border-radius: 5px;
          padding: 12px 20px;
          background-color: white;
          color: #cc0d00;
          text-align: center;
          cursor: pointer;
          display: block;
        }
    }
}
