extends base

block content
    .aboutCover
        .aboutUs
            h1 we are wihi
            div.mainpic
                img(src="./imgs/about_main.jpg", alt="?")
            span Why High?
            span <br>
            span '왜 높은 곳만 추구해야 하는가, 현재를 즐기자'
            span <br>
            span WiHi OFFICIAL
            span <br>
            span 세 명의 개성있는 싱어송라이터, The Paeadice, March 12, Popsick 으로 이루어진 그룹 와이하이는
            span 언제나 신선한 음악으로 대중들의 삶에 긍정적인 영향을 주고자 노력한다.
            span <br>
            span Love, Freedom, Carpe diem

