extends base

block content
    .aboutCover
        .aboutUs
            h1 we are wihi
            span Why High?
            span 왜 높은 곳만 바라봐?
            span 현재를 즐겨!
            span  
            span WiHi OFFICIAL
            span 
            span 우리는 한국에서 활동하고 있는 음악하는 사람들입니다.
            span 기분 좋은 음악들을 만들고 있지요

