extends base

block content
    .wrapper-top 
        main
            .album-cover
                .album-container
                    .album-inner
                        img(src="https://image.bugsm.co.kr/album/images/1000/204529/20452988.jpg")
                    .album-inner
                        img(src="https://image.bugsm.co.kr/album/images/1000/204515/20451516.jpg")
                    .album-inner
                        img(src="https://image.bugsm.co.kr/album/images/1000/204495/20449572.jpg")
                    .album-inner
                        img(src="https://image.bugsm.co.kr/album/images/1000/202773/20277359.jpg")

                
            .side-obj
                button(type="button" title="이전")#home-btn-prev          
                    div
                        <i class="fa-solid fa-4x fa-chevron-left"></i>  
                button(type="button" title="다음")#home-btn-next
                    div
                        <i class="fa-solid fa-4x fa-chevron-right"></i>
            .carousel 
                ul 
                    li 
                        button#home-btn1
                    li 
                        button#home-btn2
                    li 
                        button#home-btn3
                    li 
                        button#home-btn4
            



                
    