#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--mint);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

#no-mobile span {
  width: 60vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

@media screen and (max-width: 645px) and (min-height: 645px) {
  #no-mobile {
    display: none;
  }
}
