#footer
    footer 
        .footer_wrap
            div &copy;  #{new Date().getFullYear()} WIHI

            div.managerBtn
                a(href="/manager")
                    <i class="fa-solid lg fa-screwdriver-wrench"></i>
                    




