header 
    a(href="/") 
        h1  Home | #{siteName}
    nav
        ul 
            li
                a(href="/search") Search
            li
                a(href="/videos/upload") Upload Video
            if loggedIn
                li
                    a(href="/logout")  Log Out
            else
                li
                    a(href="/join")  Join
                li
                    a(href="/login")  Login