header 
    a(href="/") 
        h1=pageTitle
    nav
        ul 
            li
                a(href="/") Home
            li
                a(href="/videos/upload") Upload Video
            li
                a(href="/search") Search
        
