<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  </head>
  <body>
    <main class="container">
        <h1>디자인을 위한 색상 조합</h1>
        <h4>main 색상이 무엇인가요?</h2>
        <form action="/search">
            <input type="text" name="keyword" placeholder="찾으시는 색의 Hex값을 입력하세요.">
            <button>검색</button>
        </form>
    </main>
    

  </body>
</html>
