@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: "NotoSansKR-100";
    src: url("./fonts/NotoSansKR-Thin.otf") format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: "NotoSansKR-300";
    src: url("./fonts/NotoSansKR-Light.otf") format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: "NotoSansKR-400";
    src: url("./fonts/NotoSansKR-Regular.otf") format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: "NotoSansKR-500";
    src: url("./fonts/NotoSansKR-SemiBold.ttf") format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: "NotoSansKR-700";
    src: url("./fonts/NotoSansKR-Bold.otf") format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: "NotoSansKR-900";
    src: url("./fonts/NotoSansKR-Black.otf") format('opentype');
    font-weight: 900;
}*/

@font-face {font-family: 'NotoSansKR-100';font-style: normal;
font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'NotoSansKR-300';font-style: normal;font-weight: 300;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'NotoSansKR-400';font-style: normal;font-weight: 400;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'NotoSansKR-500';font-style: normal;font-weight: 500;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'NotoSansKR-700';font-style: normal;font-weight: 700;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'NotoSansKR-900';font-style: normal;font-weight: 900;
src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}


body {
    font-family: 'NotoSansKR-400', sans-serif !important;
}

:where(.css-dev-only-do-not-override-6j9yrn).ant-input {
    font-family: 'NotoSansKR-400', sans-serif !important;
}

:where(.css-dev-only-do-not-override-6j9yrn)[class^="ant-btn"], :where(.css-dev-only-do-not-override-6j9yrn)[class*=" ant-btn"] {
    font-family: 'NotoSansKR-400', sans-serif !important;
}

/*메인 타이틀*/
@layer base {
    h1 {
        @apply text-[28px] desktop:text-[30px] text-[#111321] !important;
        font-family: 'NotoSansKR-700', sans-serif;
    }

    /*서브 타이틀*/
    h2 {
        @apply text-[24px] desktop:text-[26px] text-[#111321] !important;
        font-family: 'NotoSansKR-500', sans-serif;
    }

    /*타이틀 디스크립션*/
    h3 {
        @apply text-[20px] desktop:text-[22px] text-[#232433] !important;
        font-family: 'NotoSansKR-500', sans-serif;
    }

    /*강조 본문*/
    h4 {
        @apply text-[18px] text-[#232433] !important;
        font-family: 'NotoSansKR-500', sans-serif;
    }

    /*본문*/
    h5 {
        @apply text-[16px] text-[#232433] !important;
        font-family: 'NotoSansKR-500', sans-serif;
    }

    /*약화 본문*/
    h6 {
        @apply text-[14px] text-[#51525C] !important;
        font-family: 'NotoSansKR-400', sans-serif;
    }
}


