

.sidebar_container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    font-size: 2rem;
}


.index_icon{
    padding: 1.25rem;
    span{
        margin-left: 0.2rem;
    }
}

.index_list{
    padding: 2.5rem 0;
}
