/*woff2를 우선적으로 사용하고, 지원 안 되는 브라우저에선 woff로 fallback*/

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-Thin.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-Thin.subset.woff')
            format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-ExtraLight.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-ExtraLight.subset.woff')
            format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-Light.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-Light.subset.woff')
            format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-Regular.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-Regular.subset.woff')
            format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-Medium.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-Medium.subset.woff')
            format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-SemiBold.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-SemiBold.subset.woff')
            format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-Bold.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-Bold.subset.woff')
            format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-ExtraBold.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-ExtraBold.subset.woff')
            format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src:
        url('../assets/fonts/pretendard/woff2-subset/Pretendard-Black.subset.woff2')
            format('woff2'),
        url('../assets/fonts/pretendard/woff-subset/Pretendard-Black.subset.woff')
            format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-pretendard: 'Pretendard', sans-serif;
}
