extends base

block content
    .membersCover
        .membersCBox
            h1 Artists
            ul.membersIBox
                li.memberBox
                    img(src="https://image.genie.co.kr/Y/IMAGE/IMG_ARTIST/080/686/586/80686586_1645149246218_4_600x600.JPG", alt="The Paradice")
                li.memberBox
                    img(src="https://image.genie.co.kr/Y/IMAGE/IMG_ARTIST/080/748/316/80748316_1645149220594_3_600x600.JPG", alt="Popsick")
                li.memberBox
                    img(src="https://image.genie.co.kr/Y/IMAGE/IMG_ARTIST/080/748/317/80748317_1646899639333_4_600x600.JPG", alt="March 12")

            h1 dancer
            ul.membersIBox
                li.memberBox
                    img(src="", alt="")

                
            h1 supporters
            ul.membersIBox
                li.memberBox 
                    img(src="", alt="")
                li.memberBox 
                    img(src="https://avatars.githubusercontent.com/u/41793830?v=4", alt="raven")
